@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #2badee;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101c22;
  --font-display: var(--font-lexend), sans-serif;
}

@layer base {
  body {
    @apply font-display text-gray-900 dark:text-white bg-gray-100 dark:bg-gray-950;
  }
}
